.header {
  height: 293px;
  display:grid;
  grid-template-columns: 1fr min-content 1fr;
/*  align-items: center; Есть в инструкции, но при наложении perfect pixel не получается*/
  padding: 92px 50px;
}

.header__menu {
  padding-top: 43px;
}

.header__logo {
  margin-bottom: 3px;
  padding: 0 5px;
  display: block;
  width: 148px;
  height: 105px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle outside;
}

.header__link {
  color: #000000;
  text-decoration: underline;
  text-decoration-skip-ink: none; /*Чтобы подчеркивание не разбивалось буквами, а было сплошным*/
  text-underline-offset: 4px; /*Чтобы подчеркивание не прилегало к буквам, а было чуть ниже*/
  text-decoration-thickness: 1px;

  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.address {
  max-width: 240px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;

  font-style: normal; /*По умолчанию браузер делает address курсивным*/
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
  padding: 4px 1px;
}

.cover {
  position: relative;
  height: 757px;
  padding: 165px 50px 50px 50px;

  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  gap: 106px
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  z-index: 1;

  font-weight: 700;
  font-size: 100px;      
  line-height: 115%;    
  letter-spacing: 30px;     
  text-transform: uppercase;
  color: #FFFFFF;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  padding: 20px 40px;
}

.aligned-text_right {
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  gap: 107px;
}

.cover__description-text {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  word-spacing: 18px;
}

.bet-button {
  background: transparent;
  padding: 0;
  border: 1px solid #FFFFFF;
  width: 256px;
  height: 51px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;

  cursor: pointer;
}

.lots {
  height: 723;
  margin: 180px 24px 120px;
  padding-top: 4px;
}

.lots__heading {
  margin: 0 0 30px 40px;

  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
}

.lots__card-list {
  list-style: none; 
  margin: 0 0 31px;
  padding: 0;

  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative; 
  height: 100%;

  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  justify-content: space-between;

  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  margin: 0;
  position: relative;
  z-index: 1;

  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  color: #FFFFFF;
}

.card__text {
  margin: 0;
  position: relative;
  z-index: 1;

  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
}

.lots__look-more-link {
  margin-left: 40px;

  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  color: #000000;
}

.about {
  margin: 0 24px 180px;
  display: grid;
  grid-template-columns: 334px 1fr;
  min-height: 596px; 
  column-gap: 25px;
  align-items: start;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__column_type_logo {
  align-items: center;
  padding-top: 35px;
}

.about__column_type_text {
  gap: 100px;
  padding-top: 140px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
}

.about__text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.about__text p:first-of-type {
  margin-bottom: 30px;
}

.footer {
  margin: 0;
  padding: 0 50px 82px;
  display:grid;
  grid-template-columns: auto 1fr auto;
  align-items: start;
}

.footer__address {
  justify-self: start;
  padding: 0;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 48px;
  justify-self: end;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}